label,
p {
  color: gray;
}

h3,
p {
  text-align: center;
}

.monstroid > p {
  text-align: left;
}

img {
  display: block;
  margin: 0 auto;
}

.button {
  width: 150px;
  height: 40px;
  background-color: #8e5cff;
  color: #ffffff;
  border-radius: 5px;
}
